<div style="height:70vh;width:70vw;margin-left: 4rem; margin-top: 1rem">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <div *ngIf="!isLoading" class="container mt-3">
        <h4>All courses</h4>
        <table class="table table-borderless">
            <thead>
            <tr>
                <th>Video</th>
                <th>Name</th>
                <th>Duration</th>
                <th>rating</th>
                <th>Modified</th>
                <th>Category</th>
            </tr>
            </thead>
            <tbody *ngFor="let video of videoList; let i=index">
            <tr>
                <td>
                    <iframe [src]="video.html" style="width: 15rem"></iframe>
                </td>
                <td class="align-middle">{{video.name}}</td>
                <td class="align-middle">{{video.duration}}</td>
                <td class="align-middle"></td>
                <td class="align-middle">{{video.updatedAt | date: 'medium'}}</td>
                <td class="align-middle">{{video.parentFolder}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <paginator-basic-demo
            [totalRecords]="totalRecords"
            [pageSize]="pageSize"
            (pageEmitter)="onSkipsChange($event)"
    />
</div>


